@media only screen and (max-device-width: 450px){

    h1 {
        text-align: center;
    }

    button {
        height: 68px;
        font-size: 26px;
        padding-left: 12px;
        padding-right: 12px;
    }

    h2 {
        line-height: 68px;
        font-size: 64px;
    }

    h5 {
        font-size: 36px;
        margin: 0px;
    }

    p.card {
        font-size: 18px;
        margin-top: 8px;
        text-align: center;
        max-width: 70%;
    }

    .content-container {
        width: 94vw;
        max-width: 94vh;
    }

    .barra-navegacao {
        width: 100%;
        margin-top: 24px;
    }

    .titulo-navegacao {
        font-size: 32px;
    }

    .links-navegacao {
        display: none;
    }

    .section-hero{
        height: 50vh;
    }

    .section-abilities {
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }

    .hero-info-title {
        font-size: 56px;
        margin-top: 15px;
    }

    .hero-info-subtitle {
        font-size: 32px;
        line-height: 36px;
        max-width: 70%;
    }

    .hero-info-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .hero-info {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding-top: 156px;
    }

    .abilities-cards-container {
        row-gap: 16px;
        grid-template-columns: auto auto;
        margin-top: 44px;
        width: 100%;
    }

    .ability-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;
        height: auto;
        border-width: 1px;
        padding-top: 16px;
    }

    .section-portfolio-grid {
        row-gap: 36px;
        grid-template-columns: auto auto;
        justify-content: space-between;
        margin-top: 40px;
    }

    .section-portfolio-card-links-icon-image {
        width: 28px;
        height: 28px;
    }

    .section-portifolio-card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 46vw;
        height: auto;
        padding: 24px 0px;
    }
    
    .section-experiences-card {
        width: 90vw;
    }

    .footer-content {
        width: 100%;
    }

    .hero-info-image {
        width: 40vw;
        height: 40vw;
    }

    .hero-info-icons-image {
        height: 56px;
        width: 56px;
    }

    .hero-info-instagram {
        width: 68px;
        height: 68px;
    }

    .hero-info-icons-container {
        margin-top: 45px;
        width: 60%;
    }
}
